<!DOCTYPE html>
<html>
    
    <head>
        <title>Awesome CRM</title>
        <link rel="stylesheet" type="text/css" href="../public/main.css">
        <meta name="author" content="Sanborn Hilland">
        <meta name="description" content="Test CRM">
    </head>

    <body>
        <div id="topbar">
            <h1>Welcome to CRM</h1>
        </div>

        <div class="buttons">ADD NEW CONTACT</div>
        <div class="buttons">DISPLAY CONTACTS</div>
        <div class="buttons">MODIFY CONTACT</div></div>
        
    </body>
</html>