<!DOCTYPE html>
<html>
    
    <head>
        <title>Awesome CRM</title>
        <link rel="stylesheet" type="text/css" href="../public/main.css">
        <meta name="author" content="Sanborn Hilland">
        <meta name="description" content="Test CRM">
    </head>

    <body>
        <div id="topbar">
            <h1>Welcome to CRM</h1>
        </div>

        <form action="/contacts" method="post">
            <input class="textfield" type="text" name="first_name" value="First Name">
            <input class="textfield" type="text" name="last_name" value="Last Name">
            <input class="textfield" type="text" name="email" value="Email">
        
            <input type="submit" name="Submit">
        </form>
    </body>
</html>