<!DOCTYPE html>
<html>
     <head>
        <title>Awesome CRM</title>
        <link rel="stylesheet" type="text/css" href="/stylesheet.css">
        <meta name="author" content="Sanborn Hilland">
        <meta name="description" content="CRM">
    </head>
    
    <body>
        <div id="container">
           <div id="header"></div>
           <div id="body">
            <div id="mainbox">
                <%= yield %>
            </div>
            </div>
           <div id="footer">
            <ul>
                <a href="/contacts/new"><li>ADD</li></a>    
                <a href="/contacts/modify"><li>MODIFY</li></a>
                <a href="/contacts/view"><li>DISPLAY</li></a>
            </ul> 
                <div id="bottombar"></div>
            </div>
        </div>
   </body>
</html>


