<!DOCTYPE html>
<html>
     <head>
        <title>Awesome CRM</title>
            <link rel="stylesheet" type="text/css" href="../../reset.css">
            <link rel="stylesheet" type="text/css" href="../../basestyles.css">       
            <link rel="stylesheet" type="text/css" href="../../layoutstyles.css">
            <link rel="stylesheet" type="text/css" href="../../modstyles.css">
            <link rel="stylesheet" type="text/css" href="../../animations.css">
        <meta name="author" content="Sanborn Hilland">
        <meta name="description" content="Template">
    </head>
    
    <body>
        <div class="container">
            <div class="header"></div>
            <div class="body">
            <!--    # <div class="logo">
                #     <div class="type">
                #        CRM 
                #     </div>
                # </div> -->
            <div class="mainbox">
               <%= yield %>
            </div>
            </div>
            <div class="footer">
            <ul class="navbar">
                <a href="/contacts/new"><li class="navbuttons">ADD</li></a>   
                <a href="/contacts/modify"><li class="navbuttons">MODIFY</li></a>
                <a href="/contacts/view"><li class="navbuttons">DISPLAY</li></a>
            </ul> 
                <div class="bottombar"></div>
            </div>
        </div>
   </body>
</html>



