<h2>ADD CONTACT</h2>
<form action="/contacts" method="post">
<input id="topfield" class="textfield" type="text" name="first_name" value="First Name">
<input class="textfield" type="text" name="last_name" value="Last Name">
<input class="textfield" type="text" name="email" value="Email">
<textarea id="notes" class="textfield" type="text" name="notes" value="Notes">Notes</textarea>

<input id="submit" type="submit" name="Submit">
</form>