<!DOCTYPE html>
<html>
    
    <head>
        <title>Awesome CRM</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <meta name="author" content="Sanborn Hilland">
        <meta name="description" content="Test CRM">
    </head>

    <body>
        <div id="topbar">
            <h1>Contacts</h1>
        </div>

				<ul>
				<% @@database.contacts.each do |contact| %>
				  <li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %></li>
				<% end %>
				</ul>
        
    </body>
</html>