/*BACKGROUND SETTINGS*/
html {
    background: url(MOUNTAINS-4-of-11.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    z-index: -1;
}

/*GENERAL*/
h1, h2, p {
    color:#DDDCC5;
}

h1 {
    
    margin-top: 94%;
    margin-left: 3%;    
}

h2 {
    text-align: center;
    line-height: 2;
    margin-top: 6%;
}

/*LOGO*/



.circle {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: #1D2326;
    border: 2px solid #DDDCC5;
    position: relative;
    margin-left: 50%;

}

.type {
    display: block;
    margin-top: 21px;
    margin-left: 3px;
    text-align: center;
    font-family: sans-serif;
    color: #DDDCC5;
    height: 30px;
    width: 65px;
    font-size: 1.5em;
    border-bottom: 2px solid #DDDCC5;
}



/*MAIN NAV SETTINGS*/
.navbar {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;  
}

.navbuttons {
    background-color: #1D2326;

    font-size: 0.8em;
    color: #DDDCC5;
    text-align: center;

    margin: 10px; 
    width: 150px;
    height: 50px;
    padding-top: 10px;
    display: inline;
    float: left;
  
    border-radius: 10px;
    border-top: 2px solid #DDDCC5;
    
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-name: slideout;
    -webkit-animation-name: slideout;   
    -moz-animation-timing-function: ease;
    -webkit-animation-timing-function:ease;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}

.navbuttons:hover {
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-name: slidein;
    -webkit-animation-name: slidein;   
    -moz-animation-timing-function: ease;
    -webkit-animation-timing-function:ease;
    -moz-animation-fill-mode:both;
    -webkit-animation-fill-mode:both;
}


/*FORM SETTINGS*/
.textfield {
    color: #1D2326;
    font-size: 1em;
    
    background-color: #958976;
    
    width: 275px;
    height: 30px;
    
    margin-left: 33px;
    margin-top: 5%;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid #DDDCC5;  
}   

#notes {
    padding-top: 8px;
    height: 100px;   
}

.formbutton {
    background-color:#958976;
    border-radius: 4px;
    font-size: 1em;
    color: #1D2326;
    border: 2px solid #DDDCC5;
}

.addsubmit {
    margin-top: 5%;
    margin-left: 68%;
}

.addsubmit:hover {
    background-color: #1D2326;
    color: #DDDCC5;
}

.deletesubmit {
    position: absolute;
    margin-top: 38px;
    margin-left: 261px;
    background-color: #DDDCC5;
    color: #958976;
}

.deletesubmit:hover {
    background-color: #958976;
    color: #1D2326;
}

::-webkit-input-placeholder {
   color: #1D2326;
}

/*DISPLAY SETTINGS*/

.contactname {
    text-align: left;
    padding-left: 28px;
    color: #1D2326
}

.contactdisplay {   
    margin-left: 20px;
    height: 20px;
    line-height: 1.5;
    
}

.tablebuffer {
    height: 12px;   
}

.contactheading {
    border-right: 2px solid #DDDCC5;
    width: 60px;
    text-align: center;
}

.contactattribute {
    padding-left: 10px;
    width:240px;
    color: #1D2326;
}

.notecell {
    height: 250px   
}


